---
permalink: "e/party"
layout: "main"
title: "party"
lang: "en"
---

<div class="w-75 mx-auto mt-5">
    <h2>Picnic Party</h2>
    <p class="success">
        Weather Update: The forecast for Saturday is 16 degrees, intermittent light rain (3mm) and wind. Please wear warm clothes and good shoes, and perhaps pack an umbrella.
    </p>

    <p>
        <strong>Summary: </strong>On the 17th of September we will hold a picnic party in the beautiful Mainzer Stadtpark to celebrate. Guests should arrive before 1pm and don't necessarily need to bring anything<sup>*</sup>.
        The main event will go until 5pm, and we might organise some evening festivities, if the demand is there.
    </p>

    <p><sup>*</sup>If you are bringing children, make sure to read all the details below.</p>
    <a href="/e/rsvp" type="button" class="btn btn-primary">RSVP</a>
    <hr>
    <h5>What?</h5>
    <p>
        After going over several options, we have decided to hire a caterer who provides a picnic experience.
        For guests who find it uncomfortable to sit on the ground, we will also have several bench tables. Those sitting at the tables will also get a basket, so they can still enjoy the picnicy feeling.
    </p>
    <p>
        To encourage our guests to get to know one another, the baskets are packed for either 2 or 4 guests.
    </p>

    <p>
        The baskets will be packed with delicious treats in two different combinations:
    </p>
    <div class="d-flex justify-content-center">
        <div class="menu">
            <ul>
                <li><strong>VARIANT 1</strong></li>
            </ul>
            <ul>
                <li><strong>Entree</strong></li>
                <li>Humus</li>
                <li>Guacamole with tomatoes</li>
                <li>Bread-bag</li>
            </ul>
            <ul>
                <li><strong>Salad</strong></li>
                <li>Raw-food salad with lemon-dressing</li>
                <li>Moroccan tabbouleh with fresh mint</li>
                <li>Black rice salad with pomegranate seeds</li>
            </ul>
            <ul>
                <li><strong>Main</strong></li>
                <li>Mini sandwich mit grilled vegetables</li>
                <li>Pickled smoked tofu with olives and dried tomatoes</li>
            </ul>
            <ul>
                <li><strong>Dessert</strong></li>
                <li>Coconut panna cotta with marinated raspberries</li>
                <li>Fresh fruits</li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li><strong>VARIANT 2</strong></li>
            </ul>
            <ul>
                <li><strong>Entree</strong></li>
                <li>Creamy carrot dip</li>
                <li>Nutty spicy peanut dip</li>
                <li>Bread-bag</li>
            </ul>
            <ul>
                <li><strong>Salad</strong></li>
                <li>Spinach-strawberry salad with caramelised hazelnuts</li>
                <li>Potato salad with arugula and edamame</li>
                <li>Beet tartar with currants and dill</li>
            </ul>
            <ul>
                <li><strong>Main</strong></li>
                <li>Mini sandwich with hummus and grilled eggplant</li>
                <li>Pickled smoked tofu with olives and dried tomatoes</li>
            </ul>
            <ul>
                <li><strong>Dessert</strong></li>
                <li>Cheesecake with passion fruit</li>
                <li>Fresh fruit</li>
            </ul>
        </div>
    </div>

    <p>Everything in the menu is <strong>completely vegan</strong> (yes, including the cheesecake). Individual dietary preferences can be fulfilled by bartering with other basket holders.</p>
    <p>The baskets include everything: cutlery, plates, glasses, a blanket, napkins. There is no single-use items in the baskets.</p>

    <p>
        <strong>Note for guests with children:</strong> We have not, by default, included any catering for children. Please bring food your children, or if you
        feel they are likely to eat "adult" food, then let us know so that we can include them.
    </p>

    <p>
        The caterer will also provide water, juice and wines (red and white). Beer drinkers should bring their own, or quench their thirsts at the nearby Biergarten.
    </p>
    <p>
        <strong>Guests are allowed to bring food to share.</strong> If you have something you want to bring, please let everyone know on the <a href="https://padlet.com/abregado/h2hgpbmtesjn16im">Padlet</a> so we don't end up with multiples of similar dishes.
        The only exception is that nobody may operate a bbq grill at the picnic location.
    </p>
    <hr>
    <h5>When?</h5>
    <p>The party will take place on the 17th of September</p>
    <ul>
        <li><strong>12:00pm</strong> We will be in the park. Come as early as you like.</li>
        <li><strong>1:00pm</strong> Welcome drinks.</li>
        <li><strong>1:30pm</strong> The baskets arrive and the picnicing begins.</li>
        <li><strong>4:00pm</strong> The baskets are collected and ice cream is delivered.</li>
    </ul>
    <hr>
    <h5>Where?</h5>
    <p>
        The Mainzer Stadtpark (City park of Mainz) lies in the city of Mainz (itself which is on
        the river called the Main). Mainz is one of the cities neighbouring Frankfurt am Main.
    </p>
    <p>
        <strong>By train: </strong>The Stadtpark can be reached very easily via the metro from Frankfurt.
        Take the <strong>S6</strong> or <strong>S8</strong> metro line from either the Hauptbahnhof or Hauptwache stations, in the direction of Wiesbaden.
        The ride takes about 40 minutes.
        Get off at the station <i>Römisches Theater</i>.
        The park is a short walk from there.
    </p>
    <p>
        <strong>By car: </strong>The closest parking is at the south end of the Stadtpark and can be reached easily from the A60.
    </p>
    <img class="map" src="/stadt-park-locations-labelled.png"/>
    <hr>

    <h5>The Park Facilities</h5>
    <p>The Mainzer Stadtpark has a lot to offer us apart from a perfect picnic location and public bathrooms:</p>
    <ul>
        <li>Aviary (free).</li>
        <li>Flamingo exhibit (free).</li>
        <li>Rose garden (free).</li>
        <li>Water park, for kids and adults (free).</li>
        <li>Rideable small train (1 euro per lap around the park).</li>
        <li>Frisbee golf course (free).</li>
        <li>Minigolf course (4 euro per game).</li>
        <li>A Biergarten and a café (at your own cost).</li>
    </ul>
    <hr>

    {% include things-to-bring-e.html %}

    <hr>
    <h5>Hey, um... What about Bad Weather?</h5>
    <p>In the case of light rain, we will still go ahead as planned. Between the market tents and trees there will be plenty of cover for everyone.</p>
    <p>In the case of storm or excessive rain, we will of course cancel. However, such weather should come with several days of warning, so we will keep you informed if this is likely to happen.</p>

    <hr>
    {% include late-rsvp-e.html%}

    <hr>
    <h5>Evening Festivities you say?</h5>
    <p>
        The city of Mainz is a wondrous place of magical beauty and wondrous wonder.
        If enough people are interested, we would organise a private walking city tour to explore these wonders.
    </p>
    <p>
        If, somehow, guests are not satiated, then we can also spend some more time at the nearby Biergarten.
    </p>
    <p>
        If you have another suggestion, please do let us know.
    </p>
</div>
