---
permalink: "d/party"
layout: "main"
title: "party"
lang: "de"
---

<div class="w-75 mx-auto mt-5">
    <h2>Picnic Party</h2>
    <p class="success">
        Wetterbericht: Die Vorhersage für Samstag lautet 16 Grad, zeitweise leichter Regen (3 mm) und Wind. Bitte tragt warme Kleidung und gute Schuhe und packt vielleicht einen Regenschirm ein.
    </p>
    <p>
        <strong>Zusammenfassung: </strong>Am 17. September veranstalten wir eine Picknick-Party im schönen Mainzer Stadtpark. Alle Gäste sollten vor 13 Uhr eintreffen und müssen nicht unbedingt etwas mitbringen.<sup>*</sup>
        Die Party wird bis ca. 17.00 Uhr dauern, und wir werden bei Bedarf vielleicht noch ein paar Abendaktivitäten organisieren.
    </p>

    <p><sup>*</sup>Wenn Ihr Kinder mitbringt, solltet Ihr unbedingt die unten stehenden Details lesen.</p>
    <a href="/d/rsvp" type="button" class="btn btn-primary">Seid ihr dabei?</a>
    <hr>
    <h5>Was gibt's?</h5>
    <p>
        Nachdem wir uns mehrere Optionen angeschaut hatten, haben wir uns für einen Catering-Service für Picknicks entschieden.
        Für die Gäste, die nicht auf dem Boden sitzen wollen, werden wir mehrere Bänke aufstellen. "Tisch-Gäste" bekommen auch einen Korb, sodass sie das volle Picknickgefühl trotzdem genießen können.
    </p>
    <p>
        Damit sich unsere Gäste besser kennenlernen können, werden die Körbe für 2 oder 4 Personen gepackt sein.
    </p>

    <p>
        Die Körbe werden mit köstlichen Leckereien in zwei verschiedenen Kombinationen bestückt:
    </p>
    <div class="d-flex justify-content-center">
        <div class="menu">
            <ul>
                <li><strong>VARIANTE 1</strong></li>
            </ul>
            <ul>
                <li><strong>Vorspeise</strong></li>
                <li>Humus</li>
                <li>Guacamole mit Tomaten</li>
                <li>Brötchentüte</li>
            </ul>
            <ul>
                <li><strong>Salat</strong></li>
                <li>Rohkostsalat mit Zitronendressing</li>
                <li>Marokkanisches Tabbouleh mit frischer Minze</li>
                <li>Schwarzer Reissalat mit Granatapfelkernen</li>
            </ul>
            <ul>
                <li><strong>Hauptgericht</strong></li>
                <li>Mini-Sandwich mit gegrilltem Gemüse</li>
                <li>Eingelegter Räuchertofu mit Oliven und getrockneten Tomaten</li>
            </ul>
            <ul>
                <li><strong>Dessert</strong></li>
                <li>Kokosnuss-Panna-Cotta mit marinierten Himbeeren</li>
                <li>Frische Früchte</li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li><strong>VARIANTE 2</strong></li>
            </ul>
            <ul>
                <li><strong>Vorspeise</strong></li>
                <li>Cremiger Karotten-Dip</li>
                <li>Nussig-pikanter Erdnuss-Dip</li>
                <li>Brötchentüte</li>
            </ul>
            <ul>
                <li><strong>Salat</strong></li>
                <li>Spinat-Erdbeer-Salat mit karamellisierten Haselnüssen</li>
                <li>Kartoffelsalat mit Rucola und Edamame</li>
                <li>Rote Bete-Tartar mit Johannisbeeren und Dill</li>
            </ul>
            <ul>
                <li><strong>Hauptgericht</strong></li>
                <li> Mini-Sandwich mit Hummus und gegrillter Aubergine</li>
                <li>Eingelegter Räuchertofu mit Oliven und getrockneten Tomaten</li>
            </ul>
            <ul>
                <li><strong>Dessert</strong></li>
                <li>Käsekuchen mit Passionsfrucht</li>
                <li>Frisches Obst</li>
            </ul>
        </div>
    </div>

    <p>Das gesamte Menü ist <strong>vegan</strong> (jupp, sogar der Käsekuchen). Um individuelle Wünsche kann mit anderen Korbbesitzer:innen gefeilscht werden.</p>
    <p>Die Körbe enthalten alles: Besteck, Teller, Gläser, eine Decke und Servietten. Es gibt keine Einwegartikel.</p>

    <p>
        <strong>Hinweis für Gäste mit Kindern:</strong> Wir haben keine Verpflegung für Kinder vorgesehen.
        Bitte bringt euren Kindern Essen mit, oder wenn ihr der Meinung seid, dass sie auch das "Erwachsenen-Essen" verschlingen werden, dann gebt uns einfach Bescheid, damit wir sie mit einplanen.
    </p>

    <p>
        Der Catering-Service stellt außerdem Wasser, Saft und Wein (rot und weiß) zur Verfügung. Bierfreunde sollten ihr eigenes Bier mitbringen oder ihren Durst im nahe gelegenen Biergarten stillen.
    </p>
    <p>
        <strong>Alle Gäste dürfen Speisen zum Teilen mitbringen.</strong> Wenn ihr etwas mitbringen wollt, dann lasst es alle über das <a href="https://padlet.com/abregado/h2hgpbmtesjn16im">Padlet</a> wissen, sodass wir am Ende nicht mit zehn Nudelsalaten dastehen.
        Die einzige Ausnahme ist, dass ein Grill auf dem Picknickplatz nicht betrieben werden darf.
    </p>
    <hr>
    <h5>Wann?</h5>
    <p>Die Party wird am 17. September stattfinden.</p>
    <ul>
        <li><strong>12:00</strong> Wir werden im Park sein. Kommt so früh, wie ihr wollt.</li>
        <li><strong>13:00</strong> Welcome drinks!</li>
        <li><strong>13:30</strong> Die Picknickkörbe kommen an und das Fest kann beginnen.</li>
        <li><strong>16:00</strong> Die Körbe werden wieder eingesammelt und es gibt Eis!</li>
    </ul>
    <hr>
    <h5>Wo?</h5>
    <p>
        Der Mainzer Stadtpark liegt - Überraschung! - in der Stadt Mainz (die selbst am Fluss Main liegt). Mainz ist eine der Nachbarstädte von Frankfurt am Main.
    </p>
    <p>
        <strong>Mit dem Zug: </strong>Der Stadtpark ist von Frankfurt aus sehr gut mit der U-Bahn zu erreichen.
        Nehmt die <strong>S6</strong> oder <strong>S8</strong> Linie vom Frankfurter Hauptbahnhof oder der Station Hauptwache in Richtung Wiesbaden.
        Die Fahrt dauert etwa 40 Minuten.
        Steigt am Bahnhof <i>Römisches Theater</i> aus.
        Der Park ist nur einen kurzen Spaziergang von dort entfernt.
    </p>
    <p>
        <strong>Mit dem Auto: </strong>
        Der nächstgelegene Parkplatz befindet sich am südlichen Ende des Stadtparks und ist von der A60 aus leicht zu erreichen.
    </p>
    <img class="map" src="/stadt-park-locations-labelled.png"/>
    <hr>

    <h5>Das Park-Angebot</h5>
    <p>Der Mainzer Stadtpark hat neben einem perfekten Picknickplatz und öffentlichen Toiletten viel zu bieten:</p>
    <ul>
        <li>Vogelhaus (kostenlos).</li>
        <li>Flamingo-Teich (kostenlos).</li>
        <li>Rosengarten (kostenlos).</li>
        <li>Wasserpark, für Kinder und Erwachsene (kostenlos).</li>
        <li>Ein Zug (1 Euro pro Runde durch den Park).</li>
        <li>Frisbee-Golf (kostenlos).</li>
        <li>Minigolfplatz (4 Euro pro Spiel).</li>
        <li>Ein Biergarten und ein Café (auf eigene Kosten).</li>
    </ul>
    <hr>

    {% include things-to-bring-d.html %}

    <hr>
    <h5>Psst psst... Was geschieht bei schlechtem Wetter?</h5>
    <p>Bei leichtem Regen bleibt alles wie geplant.
        Zwischen den Zelten und Bäumen wird es genügend Schutz für alle geben.</p>
    <p>Im Falle von Sturm oder starkem Regen werden wir die Party natürlich absagen.
        Allerdings sollte ein solches Wetter mehrere Tage im Voraus angekündigt werden, sodass wir Euch auf dem Laufenden halten werden, wenn es dazu kommt.</p>

    <hr>
    {% include late-rsvp-d.html%}

    <hr>
    <h5>Oben war noch die Rede von... Abendaktivitäten?</h5>
    <p>
        Die Stadt Mainz ist ein wundersamer Ort von magischer Schönheit und wundersamen Wundern.
        Wenn genug Leute Interesse haben, organisieren wir eine private Stadtführung, um diese Wunder zu erkunden.
    </p>
    <p>
        Sollte jemand nicht satt von der Decke rollen, können wir auch noch etwas Zeit im nahe gelegenen Biergarten verbringen.
    </p>
    <p>
        Wenn ihr einen anderen Vorschlag habt, lasst es uns bitte wissen.
    </p>
</div>
