<div class="w-75 mx-auto mt-5">

    <p class="danger">
        Dear friends,<br><br>
        On Wednesday (Sept 7th), we discovered that we are Corona-infected. Obviously, this will change things for our wedding planning. Depending on how fast we recover, we might get married on Sept 14th or not. However, the picnic on Sept 17th will still go ahead, as it is already booked and paid. In the case of us still being positive, we will of course not attend the picnic. If we test negatively, we will attend. However, we want to give you the opportunity to withdraw your attendance if you feel uncomfortable with that.
        <br><br>We expect to recover and are still looking forward to seeing you soon!
    </p>
    <p class="success">
        13.09.22: Our tests are negative and we are out of quarantine.
    </p>
    <div class="center-cropped mx-auto rounded">

    </div>
    <h4 class="fw-semibold callbox rounded">
        We puzzled something out.<br>
        We want to get married.<br>
        Why don’t you come celebrate with us?
    </h4>
</div>

<div class="w-75 mx-auto mt-5">
    <h1 class="fw-bold">
        You are Invited
    </h1>
    <p>
        September 17th 2022
    </p>
    <p>
        Mainz, Germany (not Frankfurt am Main)
    </p>
    <p>
        We have decided to hold a picnic party in the city of Mainz. Please note this is not a wedding, just a party to celebrate. Details are available <a href="/e/party">here</a>.
    </p>
    <a href="/e/rsvp" type="button" class="btn btn-primary">RSVP</a>
</div>
