<h5>Dinge, die ihr mitbringen könnt</h5>
<ul>
    <li>Einen Lautsprecher (Soundbox) und ein Gerät zum Abspielen von Musik.</li>
    <li>Etwas Essbares für die Party. Notiert es bitte auf dem <a href="https://padlet.com/abregado/h2hgpbmtesjn16im">Padlet</a> und achtet auf die Zutaten. Es muss nicht unbedingt vegan sein.</li>
    <li>Wenn ihr mit dem Auto kommt, leiht uns für den Tag ein Festzelt oder einen Unterstand.</li>
    <li>Badesachen für den Wasserpark.</li>
    <li>Euren Championship-Putter für den Minigolfplatz.</li>
    <li>Ein Frisbee zum Frisbee-Golf spielen.</li>
    <li>Ein Outdoor-Spiel (wie Kubb oder Badminton).</li>
    <li>Bier, wenn ihr etwas Alkoholisches trinken wollt, aber kein Weintyp seid.</li>
    <li>Bringt eine Kamera mit und macht ein paar Fotos für uns.</li>
</ul>
