<h5>Things to Bring</h5>
<ul>
    <li>A soundbox and device to play music.</li>
    <li>An easily sharable food item for the party. Be sure to list it on the <a href="https://padlet.com/abregado/h2hgpbmtesjn16im">Padlet</a> and keep track of ingredients. It does not need to be vegan.</li>
    <li>If you are coming by car, loan us a marquee or shelter tent for the day.</li>
    <li>Swimming clothes for the water park.</li>
    <li>Your championship putter for the Minigolf.</li>
    <li>A Frisbee to play Frisbee golf with.</li>
    <li>An outdoor game (like Kubb or Badminton) to play at the party.</li>
    <li>Beer, if you want to drink but are not a wine person.</li>
    <li>Bring a camera and take some pictures of the day for us. </li>
</ul>
